<?xml version="1.0"?>
<config>
    <modules>
        <Omikron_Exportextension>
            <version>1.4</version>
        </Omikron_Exportextension>
    </modules>
    
    <global>
		<models>
            <exportextension>
                <class>Omikron_Exportextension_Model</class>
            </exportextension>
        </models>
    </global>
</config>
